 /* .navbar-nav {
    width: 100% !important;
    text-align: center !important;
    > li {
      float: none !important;
      display: inline-block !important;
    }
  }*/
  body{
   /* background-color: #bcb8b8 !important;*/
    /*font-family: 'Open Sans', sans-serif !important;*/
  }

  @media (min-width: 320px) 
  and (max-width: 768px) 
  {
    #footersection {
      margin-top:40px;
    }
    #login{
      max-width: 300px;
    }
  }

  /*.header-margin{
    margin: 10px;
  }*/
.main-body {
    
  /*background-color: #bcb8b8 !important;*/
  /*padding: 10px;*/
}
.info{
  cursor: pointer;
  margin: 5px -5px 5px -5px !important;
  border:1px solid;
  height: 120px;
}
.line{
  margin-top:40px;border:1px solid;
}
.job-log{
  margin-bottom:5px;
  margin-top: -10px;
}
.demographics, .carerequirements
{
height:100px;overflow:scroll;overflow-x:hidden;border:1px solid
}
.demographics > div{
  font-size: 12px;
}
.cneeds
{
height:100px;overflow:scroll;overflow-x:hidden;border:1px solid
}

.setpadding
{
padding: 0px !important;
}
.carerequirements > div > li{
  font-size: 12px !important;
}
  .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

 #right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 25%;
  }
.border{
  border: 1px solid;
  /*padding: 15px;*/
}

.rotate{
    list-style: outside none none;
    /*margin: 10px;*/
    text-align: center;
    transform: rotate(90deg);
    width: 85px;
}

.row-border{
	/*padding: 20px;*/
	border: 1px solid;

}
.text-width{
	padding: -1px;
  font-weight: bold; 
/*height: 100px;*/
/*float: left;*/
}

.text-width > li{
  font-weight: bold; 
  border: 1px solid;
  margin: 5px;
}
a{
	/*display: inline-block;*/
	  /*border: 3px solid #73AD21;*/
}
.bg{
        background: #fff none repeat scroll 0 0;
    margin-bottom: 10px;
    margin-top: 10px;

}


.section-margin{
      margin-left: 10px;
    margin-right: 10px;

}
.header-color{
  background-color: white;
}
.txt-center{
  text-align: center;
margin-top: 15px;
}

.main-content{
  margin-left: -10px;
}

#sub-container-1
{
    background-color: #fff;
    /*direction: rtl;*/
    /*height: 570px;*/
    border:1px solid;
    overflow-x: hidden;
    overflow-y: scroll;
}
#container2{
  /*height: 530px;*/
  background-color:white;border:1px solid;
}
#sub-container-2
{
  /*height:570px;
 */
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  /*width: 360px;*/
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 340px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  /*max-width: 300px;*/
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  /*text-align: center;*/
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #cccccc; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #cccccc);
  background: -moz-linear-gradient(right, #cccccc);
  background: -o-linear-gradient(right, #cccccc);
  background: linear-gradient(to left, #cccccc);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

@media (max-width: 768px) {
            #logoheader{
                display: none;
            }
            #mob_logohedaer{
                display: block !important;
            }
        }