tbody { 
    display: block; height: 100px; overflow: auto;
} 
table.table.table-bordered { 
    width:100%; 
}
table.table.table-bordered tr td{ 
    width:10% 
}
#btnStart{
    background-color: #33CC00;
}
#btnStop{
    background-color: #FF0000;
}
#btnAccept{
    background-color: #33CC00;
}
#btnDecline{
    background-color: #FF0000;
}
.btnEdit{
    background-color: #3333FF;
    color: #FFFFFF;
}       
.btnSubmit{
    background-color: #33CC00;
    color: #FFFFFF;
}
@media (max-width: 768px) {
            #logoheader{
                display: none;
            }
            #mob_logohedaer{
                display: block !important;
            }
        }
