#menu > li {
    background-color: #d9d9d9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin:0px 5px;

}
li a{}
#menu {
  font-size:18px
}
#user {
    float:right;display:block;list-style:none;text-align:left;
    margin-top:15px;
}

.header{
	 /*background: #53829d none repeat scroll 0 0;
    border-bottom: 4px solid #73a2bd;*/
    /*height: 100px;*/
    left: 0;
    overflow: hidden;
 position: relative!important;
    top: 0;
    width: 100%;

}
.logo{
    max-height:80px;
}
