<header class="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                <div id="mob_logohedaer" style="display:none;">
                    <a href="#"> <img src="images/logo.png" class="logo" style="margin:10px"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
         </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2" id="logoheader">
                <div style=" margin: 10px ">
                    <a href="#"> <img src="images/logo.png" class="img-responsive logo"></a>
                </div>
              </div>
              <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="margin-top:40px;" *ngIf="userType == 'admin'">
                      <ul class="nav navbar-nav" id="menu">
                          <li><a style="cursor:pointer" href="#dashboard"><b>Jobs</b></a></li>
                          <li><a style="cursor:pointer"><b>Carers</b></a></li>
                          <li><a style="cursor:pointer"><b>Reports</b></a></li>
                          <li><a style="cursor:pointer;width:115px" href="#createjob"><b>New Job</b></a></li>
                      </ul>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="margin-top:40px;" *ngIf="userType != 'admin'">
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                      <ul id="user">
                          <li style="border:1px solid;margin-bottom:5px;padding:2px">{{today}}</li>
                          <li style="border:1px solid;padding:2px"><span id="loginuser"> User: {{loginuser}}</span> | <span id="signout" style="cursor:pointer;" (click)="signout($event)">Signout</span>
                          </li>
                      </ul> 
                  </div>
              </div>
              <!-- <div  class="collapse navbar-collapse" *ngIf="loginuser != 'admin'" id="bs-example-navbar-collapse-1">
                    <div class="col-lg-10 col-md-6 col-sm-9 col-xs-9">
                        <ul style="float:right;display:block;list-style:none;text-align:left">
                            <!--<li (childChanged)="childValue=$event"></li>
                            <li style="border:1px solid;margin-bottom:5px;padding:2px">{{today}}</li>
                            <li style="border:1px solid;padding:2px"><span id="loginuser"> User: {{loginuser}}</span> | <span id="signout" style="cursor:pointer;" (click)="signout($event)">Signout</span>
                            </li>
                        </ul>
                    </div>
              </div> -->
        <!-- /.navbar-collapse -->
            </div>


        </div>


      </div>
      <!-- /.container-fluid -->
    </nav>
</header>

<!--   <h3>
  Angular 2 Seed
</h3>
<nav>
	<a [routerLink]="['/']">
    Home
  </a>
  |
	<a [routerLink]="['/about']">
    About
  </a>
  |
	<a [routerLink]="['/github', 'angular']">
    Github Repos
  </a>
</nav> -->
