<topheader></topheader>

<div class="body-heading">
    <ul class="nav nav-tabs" style="">
      <li class="active col-lg-4 col-sm-4 col-md-4 col-xs-4 centerText" (click)="toggleScreen()" style="padding:0"><a data-toggle="tab" href="#Incoming">Incoming</a></li>
      <li class="col-lg-4 col-sm-4 col-md-4 col-xs-4 centerText" style="padding:0"><a data-toggle="tab" href="#Past">Past</a></li>
      <li class="col-lg-4 col-sm-4 col-md-4 col-xs-4 centerText" style="padding:0"><a data-toggle="tab" href="#Calendar">Calendar</a></li>
    </ul>

<!--For Incoming Jobs-->
    <div class="tab-content" *ngIf="screen == 'overview'">
      <div id="Incoming" class="tab-pane fade in active">
        <div>
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="background-color:#BCFFBC">
            <div>
              <div class="col-xs-12 alert-success text-center" id="alert" style = "font-size:16px;" *ngIf="ifNotify==true">
               <a (click)="notificationClickjobdetails(notificationId)" style="cursor:pointer">{{notificationMsg}}</a>
              </div>
              <div class="col-xs-12" id="falsePart" >
                &nbsp;
              </div>
          <div class="col-xs-4"></div>
          <div class="col-xs-4 showmsg" *ngIf="showincomingMsg==true"> <!-- Added By Harish-->
            <h3>No Record Found</h3>
          </div>
          <div class="col-xs-4"></div>
              <div *ngFor="let job of carersjob" (click)="jobdetails(job)" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 hovercolor" style="padding-bottom:10px">
                <div class="row text-center">
                  <h3> Open Job Summary</h3>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
                  <div>Job# : {{job.jobNumber}}</div>   
                  <div class="capitalize">Client Name: {{job.clientName}}</div>
                  <div>Age: {{convertDobToAge(job.dob)}}</div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
                  <div>Suburb: {{job.address}}</div>
                  <div>Language: English</div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
                  <div>Open Shift Date: {{getDate(job.date_and_time_care_episode_required)}}</div>
                  <div>Open Shift Time: {{add_hours(job.date_and_time_care_episode_required,0)}} - {{add_hours(job.date_and_time_care_episode_required,1)}}</div>
                  <div>Rate Of Pay: Standard</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="Past" class="tab-pane fade">
         <h3 class="centerText">Past Job Lists</h3>
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="background-color:#BCFFBC">
            <div class="col-xs-4"></div>
            <div class="col-xs-4 showmsg" *ngIf="showMsg==true"> <!-- Added By Harish-->
              <h3>No Record Found</h3>
            </div>
            <div class="col-xs-4"></div>
              <div>
                <div *ngFor="let job of carerspastjob" (click)="jobdetails(job)" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 hovercolor" style="padding-bottom:10px">
                  <div class="row text-center">
                    <h3> Open Job Summary</h3>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
                    <div>Job# : {{job.jobNumber}}</div>
                    <div class="capitalize">Client Name: {{job.clientName}}</div>
                    <div>Age: {{convertDobToAge(job.dob)}}</div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
                    <div>Suburb: {{job.address}}</div>
                    <div>Language: English</div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
                    <div>Open Shift Date: {{getDate(job.date_and_time_care_episode_required)}}</div>
                    <div>Open Shift Time: {{add_hours(job.date_and_time_care_episode_required,0)}} - {{add_hours(job.date_and_time_care_episode_required,1)}}</div>
                    <div>Rate Of Pay: Standard</div>
                  </div>
                </div>
              </div>
            </div> 
      </div>
      <div id="Calendar" class="tab-pane fade">
         <h3>Calendar</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p> 
      </div>

    </div>

<!--For Job Detail-->
    <div class="tab-content" *ngIf="screen == 'detail'">
      <div id="Incoming"  class="tab-pane fade in active">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 form-group" style="background-color:#BCFFBC">
          <div class="row text-center">
            <h3> Open Job Summary</h3>
              {{id}}
          </div>
          <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
            <div class="capitalize">Client: {{clientName}}</div>
            <div>Age: {{age}}</div>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
            <div>Suburb: {{address}}</div>
            <div>Language: English</div>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
            <div>Open Shift Date: {{getDate(date_and_time_care_episode_required)}}</div>
            <div>Open Shift Time:  {{ add_hours(date_and_time_care_episode_required,0) }} - {{add_hours(date_and_time_care_episode_required,1)}}</div>
            <div>Rate Of Pay: Standard</div>        
          
          </div>
          <div class="row text-center col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <h4 style="color:#990000"> {{alerts}}</h4>
          </div>
        </div>
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-sm-10 col-md-10 col-xs-10">
          <div class="row text-center form-group" id="map">
          <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="14"  [streetViewControl]="true">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng">
                    <sebm-google-map-info-window [disableAutoPan]="true">
                  <strong>Address:- </strong> {{address}}
                </sebm-google-map-info-window>
            </sebm-google-map-marker>
          </sebm-google-map>
          </div>
      
          <div class="row text-center form-group" *ngIf="jobState=='Sent'">
            <button class="btn col-lg-12 col-sm-12 col-md-12 col-xs-12" (click)="onAcceptclick(id)" id="btnAccept">Accept</button>
          </div>
          <div class="row text-center form-group" *ngIf="jobState=='Sent'">
            <button class="btn col-lg-12 col-sm-12 col-md-12 col-xs-12" (click)="onDeclineclick(id)" id="btnDecline">Decline</button>
          </div>
          
          <div class="row text-center form-group" *ngIf="jobState=='accept'">
              <button class="btn col-lg-12 col-sm-12 col-md-12 col-xs-12" (click)="action('start')" id="btnAccept">Start</button>
          </div>
          <div class="row text-center form-group" *ngIf="jobState=='start' || jobStatus==true">
              <button class="btn col-lg-12 col-sm-12 col-md-12 col-xs-12" (click)="action('stop')" id="btnDecline">Stop</button>
          </div>
          <div class="row text-center form-group" *ngIf="!acceptedJob && !jobStatus && jobState=='stop'">
              <button class="btn btn-default col-lg-12 col-sm-12 col-md-12 col-xs-12">Job Completed</button>
          </div>
          <div class="row text-center form-group" *ngIf="jobState=='decline'">
              <button class="btn btn-default col-lg-12 col-sm-12 col-md-12 col-xs-12">Job Declined By You</button>
          </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
          <div class="row careneeds">
              <div class="col-xs-12">
                  <h4> Care Needs: </h4>
              </div>
              <div class="col-xs-12">
                  <pre>{{careNeeds}}</pre>
              </div>
          </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
          <div class="row col-xs-12">
            <h4>Client and job Notes:</h4>
          </div>
          <div class="row form-group">
            <textarea class="col-lg-12 col-sm-12 col-md-12 col-xs-12" rows="6"></textarea>
          </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
          <div class="row form-group pull-right">
            <button class="btn btnEdit" >Edit</button>
            <button class="btn btnSubmit">Submit</button>
          </div>
        </div>
      </div>
         <div id="Past" class="tab-pane fade">
         <h3>Past</h3>
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="background-color:#BCFFBC">
              <div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4 showmsg" *ngIf="showMsg==true"> <!-- Added By Harish-->
                  <h3>No Record Found</h3>
                </div>
                <div class="col-xs-4"></div>
                <div *ngFor="let job of carerspastjob" (click)="jobdetails(job)" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 hovercolor" style="padding-bottom:10px">
                  <div class="row text-center">
                    <h3> Open Job Summary</h3>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
                    <div class="capitalize">Client Name: {{job.clientName}}</div>
                    <div>Age: {{job.age}}</div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
                    <div>Suburb: {{job.address}}</div>
                    <div>Language: English</div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-12 col-xs-12">
                    <div>Open Shift Date: 25 July 2016</div>
                    <div>Open Shift Time: 18:00-24:00</div>
                    <div>Rate Of Pay: Standard</div>
                  </div>
                </div>
              </div>
            </div>            
      </div>
      <div id="Calendar" class="tab-pane fade">
         <h3>Calendar</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p> 
      </div>
    </div>
</div>
<style>
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>