<topheader></topheader>
<div class="container body-padding">
    <div class="row main">
        <div class="main-login main-center">
            <form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="createjob(myForm.value,date_and_time_care_episode_required.value,dob.value)">
                <div class="form-group" [ngClass]="{'has-error':!myForm.controls['clientName'].valid && myForm.controls['clientName'].touched}">
                    <label for="name" class="cols-sm-2 control-label">Name :</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="clientName" #clientName id="name" placeholder="Enter Name" name="clientName" [formControl]="myForm.controls['clientName']" />
                        </div>
                    </div>
                    <div *ngIf="myForm.controls['clientName'].hasError('required') && myForm.controls['clientName'].touched" class="alert alert-danger">You must include a name</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!myForm.controls['gender'].valid && myForm.controls['gender'].touched}">
                    <label class="cols-sm-2 control-label">Gender</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="radio-inline">
                                <label><input type="radio" name="gender" [formControl]="myForm.controls['gender']" #gender value="Male">Male</label> </div>
                            <div class="radio-inline">
                                <label><input type="radio" name="gender" [formControl]="myForm.controls['gender']" #gender value="Female">Female</label>
                            </div>

                        </div>
                    </div>
                     <div *ngIf="myForm.controls['gender'].hasError('required') && myForm.controls['gender'].touched" class="alert alert-danger">You must include a name</div>
                </div>
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Date Of Birth:</label>
                     <div class="cols-sm-10 input-group date form_date" data-date-format="dd-mm-yyyy">
                     <input name="dob" #dob class="form-control" placeholder="DD/MM/YYY" size="16" type="text" value="" readonly>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!myForm.controls['address'].valid && myForm.controls['address'].touched}">
                    <label class="cols-sm-2 control-label">Address:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <textarea name="address"class="textareawidth" #address rows="3" placeholder="Enter address" [formControl]="myForm.controls['address']"></textarea>
                        </div>
                    </div>
                    <div *ngIf="myForm.controls['address'].hasError('required') && myForm.controls['address'].touched" class="alert alert-danger">You must include a address</div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!myForm.controls['jobDetails'].valid && myForm.controls['jobDetails'].touched}">
                    <label class="cols-sm-2 control-label">Job Description:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <textarea name="jobDetails"class="textareawidth" #jobDetails rows="3" placeholder="Enter Job Details" [formControl]="myForm.controls['jobDetails']"></textarea>
                        </div>
                    </div>
                    <div *ngIf="myForm.controls['jobDetails'].hasError('required') && myForm.controls['jobDetails'].touched" class="alert alert-danger">You must include a Job details</div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!myForm.controls['alerts'].valid && myForm.controls['alerts'].touched}">
                    <label for="name" class="cols-sm-2 control-label">Alerts :</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-alert" aria-hidden="true"></i></span>
                            <input  type="text" class="form-control" #alerts name="alerts" placeholder="Enter alerts Number" [formControl]="myForm.controls['alerts']" />
                        </div>
                    </div>

                    <div *ngIf="myForm.controls['alerts'].hasError('required') && myForm.controls['alerts'].touched" class="alert alert-danger">You must include a alerts</div>

                </div>

                <div class="form-group" [ngClass]="{'has-error':!myForm.controls['telephone'].valid && myForm.controls['telephone'].touched}">
                    <label for="name" class="cols-sm-2 control-label">Telephone :</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i></span>
                            <input  type="text" class="form-control" #telephone name="telephone" placeholder="Enter Telephone Number" [formControl]="myForm.controls['telephone']" />
                        </div>
                    </div>

                    <div *ngIf="myForm.controls['telephone'].hasError('required') && myForm.controls['telephone'].touched" class="alert alert-danger">You must include a telephone</div>

                </div>
                <div class="form-group" [ngClass]="{'has-error':!myForm.controls['name_of_next_of_kin'].valid && myForm.controls['name_of_next_of_kin'].touched}">
                    <label for="name" class="cols-sm-2 control-label">Name of Next of Kin:</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name_of_next_of_kin" #nok placeholder="Enter name of next of kin" [formControl]="myForm.controls['name_of_next_of_kin']" />
                        </div>
                    </div>

                    <div *ngIf="myForm.controls['name_of_next_of_kin'].hasError('required') && myForm.controls['name_of_next_of_kin'].touched" class="alert alert-danger">You must include a next of kin</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!myForm.controls['multiline_field_for_care_needs'].valid && myForm.controls['multiline_field_for_care_needs'].touched}">
                    <label for="name" class="cols-sm-2 control-label">Care Needs</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <textarea rows="3"  class="textareawidth" placeholder="Enter care needs" name="multiline_field_for_care_needs" #careNeeds [formControl]="myForm.controls['multiline_field_for_care_needs']"></textarea>
                        </div>
                    </div>

                     <div *ngIf="myForm.controls['multiline_field_for_care_needs'].hasError('required') && myForm.controls['multiline_field_for_care_needs'].touched" class="alert alert-danger">You must include a care need</div>

                </div>
                <div class="form-group">
                    <label  class="cols-sm-2 control-label">Date and time care episode required:</label>
                    <div class="cols-sm-10 input-group date form_datetime" data-date-format="yyyy-mm-ddThh:ii:ssZ">

                        <input class="form-control" #date_and_time_care_episode_required placeholder="DD/MM/YYY" size="16" type="text" value="" readonly>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button" [disabled]="!myForm.valid" >Submit</button>
                </div>
                <modal #myModal>
                    <modal-header [show-close]="true">
                       <!--<h4 class="modal-title">Job is created successfully</h4>-->
                       <h4 class="modal-title">{{jobCreatedmsg}}</h4>
                    </modal-header>
                </modal>
            </form>
        </div>
    </div>
</div>
