.createjob{
    background-color: white;padding:20px;
}

/*.ui-datepicker {
    position: relative !important;
    top: -290px !important;
    left: 0 !important;
}*/

/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	/*margin-top: 70px;*/
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	/*margin-bottom: 15px;*/
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 500px;
    padding: 20px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}


    /*textarea {  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    width: 100%;}*/
/*.textareawidth {
        width:500px;
    }*/
/*desktop*/
 @media (min-width: 769px) {
    .textareawidth {
        width:450px;
    }

            .body-padding{
            padding-top: 120px !important;
        }
}

@media (max-width: 768px) {
    .textareawidth {
        width:450px !important;
    }
.body-padding{
            padding-top: 220px !important;
        }
}

@media (max-width: 360px) {
    .textareawidth {
        width:310px !important;
    }
    .body-padding{
            padding-top: 60px !important;
        }
}

@media (max-width: 320px) {
    .textareawidth {
        width:260px !important;
    }
    .body-padding{
            padding-top: 60px !important;
        }
}

@media (width: 568px) {

    .body-padding{
            padding-top: 100px !important;
        }
}

@media (width: 375px) {

    .body-padding{
            padding-top: 60px !important;
        }

         .textareawidth {
        width:310px !important;
    }
}

@media (width: 667px) {

    .body-padding{
            padding-top: 100px !important;
        }
}


@media (width: 414px) {

    .body-padding{
            padding-top: 60px !important;
        }

        .textareawidth {
        width:350px !important;
    }
}

@media (width: 736px) {

    .body-padding{
            padding-top: 100px !important;
        }
}

@media (width: 384px) {

    .body-padding{
            padding-top: 80px !important;
        }

        .textareawidth {
        width:320px !important;
    }
}

@media (width: 600px) {

    .body-padding{
            padding-top: 100px !important;
        }
}

@media (width: 1024px) {

    .body-padding{
            padding-top: 150px !important;
        }
}