<topheader></topheader>
<div class="container-fluid body-padding">
  <div class="row">
    <h4> {{selectedValue}}</h4>
    <div class="col-xs-12 alert-success text-center" id="alert" style="font-size:16px;" *ngIf="ifNotify">
      {{notificationMsg}} 
      <div class="col-xs-12" id="falsePart">
        &nbsp;
      </div>
    </div>

    <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12 form-group">
      <div class="col-xs-12" id="sub-container-1" [style.height]="innerHeight">
        <div class="col-xs-3"></div>
        <div class="col-xs-7" *ngIf="showMsg==true"> <!-- Added By Harish-->
          <h3>No Record Found</h3>
        </div>
        <div class="col-xs-2"></div>
        <div *ngFor="let item of jobarray" (click)="onSelect(item)">
          <div [style.background-color]="getStyle(getjobtime(item.jobDate), item.flag)" class="row info" *ngIf="item.flag!='Completed'">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-5 details">
              <div class="row">
                <div class="col-sm-6  capitalize">{{item.clientName}}</div>
                <div class="col-sm-6  capitalize">{{item.jobStatus}}</div>
              </div>
              <div class="row">
                <div class="col-sm-6  capitalize">Job:{{item.jobNumber}}</div>
                <div class="col-sm-6  capitalize">{{getminutes(item.jobDate)}}</div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-4 col-xs-4">
              <div class="rotate">
                <div class="incomplete">
                  <div *ngIf="item.flag!='Completed'" (click)="modelpopup('complete',item.jobNumber)">incomplete</div>
                </div>
                <div class="allocated" *ngIf="item.jobStatus=='start' || item.jobStatus=='stop' || item.jobStatus=='accept' || item.jobStatus=='decline'">allocated</div>
                <div class="unallocated" *ngIf="item.jobStatus==='Sent' || item.jobStatus==='Called'">unallocated</div>
                <div class="white" [class.jobsent]="item.jobStatus=='Sent' || item.jobStatus=='start' || item.jobStatus=='stop' || item.jobStatus=='accept' || item.jobStatus=='decline' || item.jobNumber===jobFlag">job sent</div>
                <div class="called">called</div>
                <div class="extrapay">extra pay</div>
              </div>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1 hidden-xs triangle">
              <span *ngIf="triangleShow===true || selectDiv !== item.jobNumber " [class]="jobid === item.jobNumber ? 'glyphicon glyphicon-play glyphicon-play-change' : 'glyphicon glyphicon-play'"></span>
              <span *ngIf="triangleShow===false && selectDiv === item.jobNumber" [class]="selectDiv === item.jobNumber ? 'glyphicon glyphicon-play glyphicon-play-change' : 'glyphicon glyphicon-play'"></span>
            </div>
            <!--<div class="col-lg-2 col-md-1 col-sm-1 col-xs-1 hidden-xs triangle" *ngIf="sentjob === 'sent'">
              <span [class]="(selectDiv === item.jobNumber) ? 'glyphicon glyphicon-play glyphicon-play-change' : 'glyphicon glyphicon-play'"></span>
            </div>-->
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-2 visible-xs trianglerotate">
              <span [class]="jobid === item.jobNumber ? 'glyphicon glyphicon-play glyphicon-play-change' : 'glyphicon glyphicon-play'"></span>
            </div>
          </div>
          <div [style.background-color]="getStyle(getjobtime(item.jobDate), item.flag)" class="row info" *ngIf="item.flag=='Completed'">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-5 details">
              <div class="row">
                <div class="col-sm-6  capitalize">{{item.clientName}}</div>
                <div class="col-sm-6  capitalize">{{item.jobStatus}}</div>
              </div>
              <div class="row">
                <div class="col-sm-6  capitalize">Job:{{item.jobNumber}}</div>
                <div class="col-sm-6  capitalize">{{getminutes(item.jobDate)}}</div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-4 col-xs-4">
              <div class="rotate">
                <div class="incomplete">
                  <div *ngIf="item.flag=='Completed'" [style.background-color]="setstylecolor" (click)="modelpopup('alreadycomplete',item.jobNumber)">completed</div>
                </div>
                <div class="allocated" *ngIf="item.jobStatus=='start' || item.jobStatus=='stop' || item.jobStatus=='accept' || item.jobStatus=='decline'">allocated</div>                <div class="unallocated" *ngIf="item.jobStatus==='Sent' || item.jobStatus==='Called'">unallocated</div>
                <div class="white" [class.jobsent]="item.jobStatus=='Sent' || item.jobStatus=='start' || item.jobStatus=='stop' || item.jobStatus=='accept' || item.jobNumber===jobFlag">job sent</div>
                <div class="called">called</div>
                <div class="extrapay">extra pay</div>
              </div>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1 hidden-xs triangle">
              <span [class]="jobid === item.jobNumber ? 'glyphicon glyphicon-play glyphicon-play-change' : 'glyphicon glyphicon-play'"></span>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-2 visible-xs trianglerotate">
              <span [class]="jobid === item.jobNumber ? 'glyphicon glyphicon-play glyphicon-play-change' : 'glyphicon glyphicon-play'"></span>
            </div>
          </div>
          <!-- For Mobile View -->
          <div id="container2" *ngIf="item.jobNumber==selectDiv" class="visible-xs container jobdetails">
            <div class="row" style="margin-top:10px" *ngIf="selectedJobs">
              <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 capitalize">
                <h4>{{selectedJobs.clientName}}</h4>
              </div>
              <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                <h4>Job:{{selectedJobs.jobNumber}}</h4>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                <h4 style="color:red;">Sent: {{getminutes(selectedJobs.jobDate)}}</h4>
              </div>
              <hr class="line">
            </div>
            <div class="row" [style.height]="rowHight">
              <div>
                <div class="col-xs-12 job-log">
                  <h4>Job Description</h4>
                </div>
              </div>
              <div>
                <div class="col-xs-12" style="margin-bottom:-20px">
                  <table class="table table-bordered" style="border:1px solid">
                    <tbody id="tbl_joblog" class="job-width" [style.height]="rowHight">
                      <pre style="border:none;">{{selectedJobs.jobDetails}}</pre>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
            <div class="row">
              <div class="col-xs-12 job-log">
                <h4>Job Log</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12" style="margin-bottom:-20px">
                <table class="table table-bordered" style="border:1px solid">
                  <tbody id="tbl_joblog">
                    <tr *ngFor="let joblogdetails of joblogMessage">
                      <td style="width:3%">{{convettoDatetime(joblogdetails.time)}}</td>
                      <td>{{joblogdetails.message}}</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="form-group">
                  <h4>Demographics</h4>
                </div>
                <div class="col-xs-12 demographics" *ngIf="selectedJobs">
                  <div>Age: 51</div>
                  <div>Gender: {{selectedJobs.gender}}</div>
                  <div>Address: {{selectedJobs.address}}</div>
                  <div>Tel: {{selectedJobs.telephone}} </div>
                  <div>NOK: {{selectedJobs.nok}}</div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                  <h4>Care Requirement</h4>
                </div>
                <div *ngIf="selectedJobs" class="col-xs-12 setpadding">
                  
                    <pre class="cneeds" [style.height]="rowHight">{{selectedJobs.careNeeds}}</pre>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group" style="margin-top:10px">
                  <h4>Matched Carers</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-bordered" style="border:1px solid;margin-bottom:-7px">

                  <tr style="background-color:#D9D9D9">
                    <td class="centertext">Send</td>
                    <td class="centertext">Carer</td>
                    <td class="centertext">Status</td>
                  </tr>
                  <tr *ngFor="let carer of carerarray">
                    <td style="width:10%">
                      <input type="checkbox" #carercheck [checked]=true disabled readonly *ngIf="chk_carerno == carer.userId" (change)="onChange(carercheck.checked,selectDiv,carer.userId)">
                      <input type="checkbox" #carercheck [checked]=false *ngIf="chk_carerno != carer.userId" (change)="onChange(carercheck.checked,selectDiv,carer.userId)">
                    </td>
                    <td class="capitalize" style="width:30%">{{carer.fullName}}</td>
                    <td class="capitalize" style="width:60%">job sent, no reply</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12" style="margin-top:10px">
                <div class="col-md-4 col-xs-12">
                  <a>
                    <h4>Job History<span class="glyphicon glyphicon-time"></span></h4>
                  </a>
                </div>
                <div class="col-md-4 col-xs-12">
                  <a>
                    <h4>Show Map<span class="glyphicon glyphicon-map-marker"></span></h4>
                  </a>
                </div>
                <div class="col-md-4 col-xs-12">
                  <a (click)="modelpopup('deletejob',0)" style="cursor:pointer">
                    <h4>Delete Job<span class="glyphicon glyphicon-trash"></span></h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          <!-- For Desktop View -->
    <div id="sub-container-2" *ngIf="selectedJobs" class="col-lg-6 col-sm-12 col-md-6 hidden-xs form-group">
      <div class="col-xs-12" id="container2" [style.height]="innerHeight" style="overflow-y: scroll;">

       <div class="row" [style.height]="toprowheight" *ngIf="selectedJobs">
          <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 capitalize">
            <h4>{{selectedJobs.clientName}}</h4>
          </div>
          <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
            <h4>Job:{{selectedJobs.jobNumber}}</h4>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
            <h4 style="color:red;text-align:right">Sent: {{getminutes(selectedJobs.jobDate)}}</h4>
          </div>
          <hr class="line">
        </div>

        <div class="row" [style.height]="rowHight">
        <div>
          <div class="col-xs-12 job-log">
            <h4>Job Description</h4>
          </div>
        </div>
        <div>
          <div class="col-xs-12" style="margin-bottom:-20px">
            <table class="table table-bordered" style="border:1px solid">
              <tbody id="tbl_joblog" class="job-width" [style.height]="rowHight">
                <pre style="border:none;">{{selectedJobs.jobDetails}}</pre>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        <div class="row" [style.height]="rowHight">
        <div class="joblog">
          <div class="col-xs-12 job-log">
            <h4>Job Log</h4>
          </div>
        </div>
        <div class="">
          <div class="col-xs-12" style="margin-bottom:-20px;">
            <table class="table table-bordered" style="border:1px solid">
              <tbody id="tbl_joblog"  [style.height]="rowHight">
                <tr *ngFor="let joblogdetails of joblogMessage">
                  <td style="width:3%">{{convettoDatetime(joblogdetails.time)}}</td>
                  <td>{{joblogdetails.message}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row"  [style.height]="rowHight">
        <div class="">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <h4>Demographics</h4>
            </div>
            <div class="col-xs-12 demographics" [style.height]="rowHight" *ngIf="selectedJobs">
              <div>Age: {{convertDobToAge(selectedJobs.dob)}} Years </div>
              <div>Gender: {{selectedJobs.gender}}</div>
              <div>Address: {{selectedJobs.address}}</div>
              <div>Tel: {{selectedJobs.telephone}} </div>
              <div>NOK: {{selectedJobs.nok}}</div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <h4>Care Requirement</h4>
            </div>
            <div *ngIf="selectedJobs" class="col-xs-12 setpadding">
              
              <pre class="cneeds" [style.height]="rowHight">{{selectedJobs.careNeeds}}</pre>
            </div>
          </div>

        </div>
      </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <h4>Matched Carers</h4>
            </div>

          </div>
        </div>
        <div class="row"  [style.height]="rowHight">
          <div class="col-xs-12">
            
            <table class="table table-bordered" style="border:1px solid;margin-bottom:-7px">
              <tr style="background-color:#D9D9D9">
                <td class="centertext">Send</td>
                <td class="centertext">Carer</td>
                <td class="centertext">Status</td>
              </tr>
              <tbody [style.height]="rowHight">
              <tr *ngFor="let carer of carerarray; let i = index">
                <td *ngIf="setglobal === true">
                  <input type="checkbox" #carercheck [checked]=true disabled readonly *ngIf="isjobsend == carer.userId" (change)="onChange(carercheck.checked,selectDiv,carer.userId,carer.fullName)">
                  <input type="checkbox" #carercheck [checked]=false *ngIf="isjobsend != carer.userId" (change)="onChange(carercheck.checked,selectDiv,carer.userId,carer.fullName)">
                </td>
                <td *ngIf="setglobal === false">
                  <input type="checkbox" #carercheck [checked]=true disabled readonly *ngIf="carer.flag === true" (change)="onChange(carercheck.checked,selectDiv,carer.userId,carer.fullName)">
                  <input type="checkbox" #carercheck [checked]=false *ngIf="carer.flag === false || flag === false" (change)="onChange(carercheck.checked,selectDiv,carer.userId,carer.fullName)">
                </td>
                <td class="capitalize">{{carer.fullName}}</td>
                <td class="capitalize">{{carer.carerJobstatus}}</td>
              </tr>
              <tr>
                <td colspan="3"><button class="btn btn-success" type="submit" (click)="sentcarer(selectedCarer,selectDiv,carercheck)">Send</button></td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="row"  [style.height]="toprowheight">
          <div class="col-xs-12" style="margin-top:10px">
            <div class="col-md-4 col-xs-12">
              <a>
                <h4>Job History &nbsp;<span class="glyphicon glyphicon-time"></span></h4>
              </a>
            </div>
            <div class="col-md-4 col-xs-12">
              <a>
                <h4>Show Map<span class="glyphicon glyphicon-map-marker"></span></h4>
              </a>
            </div>
            <div class="col-md-4 col-xs-12">
              <a (click)="modelpopup('deletejob',0)" style="cursor:pointer">
                <h4>Delete Job<span class="glyphicon glyphicon-trash"></span></h4>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<modal #carers>
  <div *ngIf="popup=='sendjob'">
    <modal-body>
      <h4 class="modal-body">Are you sure you want to send this job to the following carers: <div *ngFor="let name of selectedCarerName" class="capitalize"> - {{name }} </div></h4>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="jobsenttocarer(selectedCarer,selectDiv)">Ok</button>
    </modal-footer>
  </div>

  <!-- Added By Harish-->
  <div *ngIf="popup=='deletejob'"> 
    <modal-body>
      <h4 class="modal-body">Do you want to delete this Job? </h4>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="deleteJob(selectedJobs.jobNumber)">Ok</button>
    </modal-footer>
  </div>

  <!-- Added By Harish-->
  <div *ngIf="popup=='selectcarer'">
    <modal-body>
      <h4 class="modal-body">Please select atlist one carer </h4>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    </modal-footer>
  </div>

  <!-- Added By Harish-->
  <div *ngIf="popup=='complete'">
    <modal-body>
      <h4 class="modal-body"> Do you want to complete this job? </h4>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="completejob(num)">Ok</button>
    </modal-footer>
  </div>

  <!-- Added By Harish-->
  <div *ngIf="popup=='alreadycomplete'">
    <modal-body>
      <h4 class="modal-body"> This job is already completed. </h4>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    </modal-footer>
  </div>
</modal>

<footer class="footer">
  <div class="col-xs-12 ">
    <input type="text" class="form-control search-bar" #serchitem placeholder="Search Jobs" (keypress)="eventHandler($event,serchitem.value)">
  </div>
</footer>
<style>
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>