.body-padding {
  padding-top: 100px !important;
}

body {
  background-color: #bcb8b8 !important;
}

.job-width {
  /*max-height: 120px !important;*/
}

.joblog {
  margin-top: 10px;
}

tbody {
  display: block;
  /*max-height: 140px;
  min-height: 110px !important;*/
  overflow: auto;
}

table.table.table-bordered {
  width: 100%;
}

table.table.table-bordered tr td {
  width: 6%
}

.glyphicon.glyphicon-play {
  font-size: 35px;
  margin-top: 30px;
  margin-left: 15px;
}

.glyphicon.glyphicon-play-change {
  color: #CC6600;
  font-size: 65px;
  margin-top: 15px;
  margin-left: 15px;
}

.centertext{
  text-align: center;
}

.logos {
  display: block !important;
}

.log {
  display: block !important;
}

.capitalize {
  text-transform: capitalize;
}

.incomplete {
  background-color: #FFFFFF;
  /*margin-bottom: 5px;*/
  border: 1px solid black !important;
}

.unallocated {
  background-color: #FFFFFF;
  /*margin-bottom: 5px;*/
  border: 1px solid black !important;
}

.allocated {
  background-color: #FFFF33;
  /*margin-bottom: 5px;*/
  border: 1px solid black !important;
}
.jobsent {
  background-color: #FFCC00 !important;
  /*margin-bottom: 5px; */
  border: 1px solid black !important;
}

.called {
  background-color: #FF9966;
  /*margin-bottom: 5px;*/
  border: 1px solid black !important;
}

.extrapay {
  background-color: #FFFFFF;
  /*margin-bottom: 5px;*/
  border: 1px solid black !important;
}

.white {
  background-color: #FFFFFF;
  /*margin-bottom: 5px;*/
  border: 1px solid black !important;
}

.details {
  margin-top: 35px;
}

.triangle {
  margin-top: 10px;
}

.trianglerotate {
  margin-top: 10px;
  transform: rotate(90deg);
  float: right;
}

.jobdetails {
  background: white none repeat scroll 0px 0px;
  direction: ltr;
  border: 1px solid;
}

tr:hover {
  background-color: #e6e6e6;
}

@media (max-width: 768px) {
  #logoheader {
    display: none;
  }
  #mob_logohedaer {
    display: block !important;
  }
}

.footer {
  position: fixed !important;
  overflow: hidden;
  bottom: 0;
  height: auto;
  width: 100%;
  color: white;
}

.search-bar {
  margin-right: 0px!important;
  margin-left: 0px !important;
}
.capitalize{
text-transform: capitalize;
}