        <div class="container">
          <div class="login-page" style="margin-top:0%">
          <div class="form" id="login">

            <!-- Carer Registration -->              
            <form class="" *ngIf="ishidden2">
              <h3 style="display:inline-block"><span class="glyphicon glyphicon-log-in" ></span></h3> <h1  style="display:inline-block">Sign Up</h1>
              <input required type="text" #fullname placeholder="full name"/>
              <!--<input required type="text" #usertype placeholder="user type"/>-->
              <input required type="text" #email placeholder="email address"/>
              <input required type="password" #password placeholder="password"/>
              <input required type="text" #mobile placeholder="mobile"/>
              <!--<input type="text" placeholder="mobile"/>-->
              <button (click)="register($event,fullname.value, email.value, password.value, mobile.value)">register</button>
              <p class="message" (click)="clicked($event,true)">Already registered? <a href="#">Sign In</a></p>
            </form>

            <!-- Carer & Admin Login -->
            <form class="login-form" *ngIf="ishidden1">
              <h3 style="display:inline-block"><span class="glyphicon glyphicon-log-in" ></span></h3> <h1  style="display:inline-block">Login</h1>
              <input type="text" required #username id="username" placeholder="email" (keyup)="onChange(username.value)"/>
              <input type="password" id="password" #password placeholder="password" required/>
              <button (click)="login($event,username.value,password.value)">login</button>
              <p class="message" (click)="clicked($event,false)">Not registered? <a href="#" class="message">Create an account</a></p>
            </form>
          </div>
          <modal #loginmodal> <!-- Added By Harish 23-dec-2016 -->
            <modal-body>
              <h4 class="modal-body"> Invalid Email/Password. <br> Please enter correct Email/Password. </h4>
            </modal-body>
            <modal-footer>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
            </modal-footer>
          </modal>
        </div>
        </div>
<style type="text/css">
  body{
    background-color: #bcb8b8 !important;
  }
</style>
